# Demonstrate gen onboarding name, using onboarding data

In [2]:
from dotenv import load_dotenv
import pandas as pd
from onboarding_llm import llm_onboarding_label
import os

load_dotenv()

LLM_PROVIDER = os.getenv("LLM_PROVIDER", "azure")

INPUT_CSV = "./data/data_raw_input/2025-11-13/CAMPAIGNS.csv"   
OUTPUT_CSV = "./data/output_onboarding/onboarding_names.csv"
MAX_WORDS = 5                        # can override per your requirement

df = pd.read_csv(INPUT_CSV)

def _apply_llm(row):
    label, _raw = llm_onboarding_label(
        row,
        provider=LLM_PROVIDER,
        max_words=MAX_WORDS,
    )
    return label

df["onboarding_name"] = df.apply(_apply_llm, axis=1)

df.to_csv(OUTPUT_CSV, index=False)
print(f"Wrote {len(df)} rows with onboarding_name to {OUTPUT_CSV}")

Wrote 59 rows with onboarding_name to ./data/output_onboarding/onboarding_names.csv

## Get unique originators

In [7]:
df["business_number"].unique()

array([ 73981,   7535, 692632, 266278,  53849,  95773, 227898,  88022,
        62297, 347268,  89700,  36682,  39747,  74843,  98900,  22395,
        57513,  82539,  61746,  21398,  87844,  74454,  24255,  86753,
        51270,  65821,  66458,  52927,  28777,  34799,  80607,   3538,
        36794,  35213,  28732,  34646, 898287,  70392,  22948,  24273,
       454545,  85166,  93729,  26266, 692484])